<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
  <h1>CSV Generator by Vinh Tran</h1>
</header>
  <form method="POST" action="/upload_json">
    <textarea id="json-input" type="text" name="data"></textarea>
    <input type="submit" />
  </form>
  <form method="POST" action="/upload_json">
    <input id="file-input" type="file" accept=".txt,.json" name="fileData" /> 
    <input type="submit" />
  </form>
  <br>
  <h2>Converted JSON to CSV Text</h2>
  {{#each CSV}}
    <div>{{this}}</div>
  {{/each}}
</body>
</html>